<div class="dashboard-container">
    <div class="slideshow" id="slideshow" #slideshow>
        <ol class="slides">
            <li class="current">
                <div class="description">
                    <h2>Cycling Event</h2>
                    <p></p>
                </div>
                <div class="tiltview">
                    <a href="#"><img src="assets/img/1.jpg" /></a>
                    <a href="#"><img src="assets/img/2.jpg" /></a>
                </div>
            </li>

            <li>
                <div class="description">
                    <h2>Ping Pong</h2>
                    <p></p>
                </div>
                <div class="tiltview">
                    <a href="#"><img src="assets/img/3.jpg" /></a>
                    <a href="#"><img src="assets/img/4.jpg" /></a>
                </div>
            </li>

            <li>
                <div class="description">
                    <h2>Running</h2>
                    <p></p>
                </div>
                <div class="tiltview">
                    <a href="#"><img src="assets/img/5.jpg" /></a>
                    <a href="#"><img src="assets/img/6.jpg" /></a>
                </div>
            </li>
        </ol>
    </div>
    <app-events></app-events>
</div>